* {
    background-color: rgb(253, 251, 251);    
}

header#cabecalho {
    position: fixed;
    top: 0px;
}

img#minha_foto {
    display: block;
    margin-top: 70px;
}

ol#licoes_aprendidas {
    display: block;
    margin-top: 70px;
}